// $pale-blue: #a1c3d1;
// $mauve: #b39bc8;
// $off-white: #f0ebf4;
// $soft-pink: #f172a1;
// $hot-pink: #e64398;

$tiny-max: "(max-width: 374.98px)"; // Smaller than medium phone on Chrome devltools
$extra-small-max: "(max-width: 575.98px)"; // Extra small devices (portrait phones, less than 576px)
$small-max: "(max-width: 767.98px)"; // Small devices (landscape phones, less than 768px)
$medium-max: "(max-width: 991.98px)"; // Medium devices (tablets, less than 992px)
$moderate-max: "(max-width: 1229.98px)";
$large-max: "(max-width: 1639.98px)";

$std-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.top-hero {
	box-shadow: $std-box-shadow;
	padding-top: 40px;
}

.app-container {
	margin: 80px 100px;
	@media #{$small-max} {
		margin: 10px 19px;
	}
}

.custom-col {
	padding: 0px 40px;
	@media #{$small-max} {
		padding: 0px;
	}
}
.section-container {
	margin: 10px;
	border-radius: 2px;
	max-width: 800px;
}

.subsection-container {
	margin: 0px 0px 20px 0px;
	padding: 20px 0px;
	background: white;
	border-radius: 4px;
}

.center-content-container {
	display: flex;
	align-content: center;
	justify-content: center;
}

.big-bold-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	letter-spacing: 10px;
	text-transform: lowercase;
	font-size: 80px;
	@media #{$small-max} {
		font-size: 20px;
	}
}

.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	letter-spacing: 1px;
}

.label {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 1px;
}

.name-input {
	font-size: 16px;
}

.ant-checkbox-group-item {
	font-size: 16px;
	line-height: 36px;
	min-width: 200px;
}

.display-card {
	display: inline-block;
	margin-bottom: 20px;
}

.preview {
	font-size: 16px;
	margin-bottom: 20px;
}

.free-form-feedback-input {
	font-size: 16px;
}
